<div class="ui one column page grid">
  <div class="ui column" ng-switch="vm.currentView">
    <h1>{{ vm.user }}</h1>
    <div class="ui menu">
      <a class="item" ng-click="vm.showPanel('starred')">Star List</a>
      <a class="item" ng-click="vm.showPanel('statistics')">Statistics</a>
    </div>
    <div class="ui segment" ng-switch-when="starred">
      <div class="ui segment" ng-if="R.isEmpty(vm.results)">No stars found.</div>
      <table class="ui table" ng-if="!R.isEmpty(vm.results)">
        <thead>
          <tr>
            <th>Name</th>
            <th class="two wide">Watchers</th>
            <th class="two wide">Issues</th>
            <th class="two wide"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in vm.results">
            <td><a href="http://github.com/{{ result.full_name }}">{{ result.full_name }}</a></td>
            <td>
              <div class="ui right aligned red segment">
                <div class="ui left red corner label"><i class="star icon"></i></div>
                <span>{{result.stargazers_count}}</span>
              </div>
            </td>
            <td>
              <div class="ui right aligned blue segment">
                <div class="ui left blue corner label"><i class="info icon"></i></div>
                <span>{{result.open_issues_count}}</span>
              </div>
            </td>
            <td>
              <button class="ui small labeled green icon button" ng-click="vm.showStats(result.languages_url)"><i class="icon tasks"></i>Stats</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="ui segment" ng-switch-when="statistics">
      Stats
    </div>
  </div>
</div>
<login-modal user="vm.user"></login-modal>
<stats-modal></stats-modal>