<div class="ui segment" ng-show="vm.requestCompleted">
  <div class="ui segment" ng-if="!hasResults()">No stars found.</div>
  <table class="ui table" ng-if="hasResults()">
    <thead>
      <tr>
        <th>Name</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in vm.results">
        <td><a href="http://github.com/{{ result.full_name }}">{{ result.full_name }}</a></td>
        <td>{{ result.language }}</td>
      </tr>
    </tbody>
  </table>
</div>